__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

venv/
ENV/
env/
.venv/
venv.bak/
env.bak/

.cache/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db
.ipynb_checkpoints/
