asyncio
asyncpg
aiolimiter
attrs
blinker
click
deep-translator
discord.py
Flask
frozenlist
fuzzywuzzy
Jishaku
PyNaCl
pytz
requests
sprite
typing_extensions
urllib3
yarl
zipp
pyfiglet
python-dateutil
google-api-python-client
pylast
psutil
pyperclip
python-dotenv
setuptools
yt-dlp
sqlalchemy
pillow
numpy
psycopg2