asyncio
asyncpg
audioop-lts
attrs
blinker
click
deep-translator
discord.py
Flask
frozenlist
fuzzywuzzy
Jishaku
PyNaCl
pytz
requests
sprite
typing_extensions
urllib3
yarl
zipp
pyfiglet
python-dateutil
googleapi-python-client
googleapiclient
pylast
psutil
pyperclip
python-dotenv
setuptools
